<% content_for :title, "Editing objet" %>

<h1>Editing objet</h1>

<%= render "form", objet: @objet %>

<br>

<div>
<%= link_to "Afficher l'annonce", @objet, class: "btn btn-purple" %>
  <%= link_to "Retourner a l'accueil", root_path, class: "btn btn-secondary btn-sm" %>

</div>
