<p style="color: green"><%= notice %></p>

<% content_for :title, "Objets" %>

<h1>Objets</h1>

<div id="objets">
  <% @objets.each do |objet| %>
    <%= render objet %>
    <p>
      <%= link_to "Show this objet", objet %>
    </p>
  <% end %>
</div>

<%= link_to "New objet", new_objet_path %>
