<% content_for :title, "New objet" %>

<h1>New objet</h1>

<%= render "form", objet: @objet %>

<br>

<div>
  <%= link_to "Retourner a l'accueil", root_path, class: "btn btn-secondary btn-sm" %>

</div>
