<div class="container">
  <h1>Lost And Found</h1>
  <p>Déclarez un objet perdu ou trouvé en un clic.</p>

  <div class="buttons">
    <%= link_to "Objet Perdu", new_objet_path(objet: { statut: "perdu" }), class: "btn red" %>
    <%= link_to "Objet Trouvé", new_objet_path(objet: { statut: "trouvé" }), class: "btn green" %>
  </div>
</div>
