<div class="container text-center mt-5">
  <h1>Lost And Found</h1>
  <p>Déclarez un objet perdu ou trouvé</p>

  <div class="d-flex justify-content-center gap-3 mt-4">
    <%= link_to "Objet Perdu", new_objet_path(objet: { statut: "perdu" }), class: "btn btn-danger btn-lg" %>
    <%= link_to "Objet Trouvé", new_objet_path(objet: { statut: "trouvé" }), class: "btn btn-success btn-lg" %>
  </div>
</div>
